@import "src/styles/veriables";

.title{
  font-size: 25px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.body{
  font-size: 20px;
  margin-bottom: 20px;
}
textarea{
  border-radius: 10px;
  padding: 3px 10px;
  width: 80%;
  border: 1px solid $light-silver;
  font-size: 18px;
}

.error{
  color: $red;
  font-size: 12px;
  margin: 4px 0 2px;
}

.add{
  margin: 10px 0;
  background: $light-green;
  border: none;
  color: #ffffff;
  font-size: 20px;
  border-radius: 10px;
  padding: 2px 10px;
}

.comment{
  background: $light-silver;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  margin: 10px 0;
}